.main-page {
  width: 66%;
  padding: 32px;
  box-sizing: border-box;
}

.main-page__top-wrapper {
  border-radius: 8px;
  background-color: @white-90;
  box-shadow: 0 32px 64px 0 rgba(0, 0, 0, 0.05);
}